
.row_flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tilediv{
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 0px;
  right: 0px;
  min-width: 300px;
  min-height: 380px ;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background:linear-gradient(to right bottom, rgba(250,250,250,.3), rgba(250,250,250,.1));
  box-shadow: 10px 10px 15px rgba(6, 92, 107, 0.2) ;
}
.tilediv{
  transform: scale(1);
  transition: transform .5s;
  animation: fade-in ease 1s;
}

.tilediv:hover{
  transform: scale(1.05);
  transition: transform .5s ;
}

#main{
  margin: auto;
  text-align: center;
}
#tiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  animation: slide-right ease-out 2s;
}
@keyframes slide-right{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}

#close{
  cursor: pointer;
  background-color: rgba(250,250, 300, .6);
  height: 22px;
  width: 22px;
  font-size: 10px;
  padding: 2px;
  border: none;
  border-radius: 11px;
}
#close{
  position: absolute;
  top: 8px;
  right: 8px;
}
#close:hover{
  color: rgb(177, 241, 224);
  background: #F05945;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to right top, rgb(84, 236, 247), rgb(40,230, 180));
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

#cityname{
  height: 25px;
  opacity: .5;
  border: none;
  border-radius: 7px;
  width: 200px;
}
#cityname:hover{
  animation: bright ease-out 0.4s forwards;
}
@keyframes bright{
  0%{
    opacity: 0.5;
  }
  100%{
    opacity: 0.8;
  }
}

#condition{
  width: 150px;
}

.left{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#temp{
  font-size: 2.2rem;
}
#icon{
  height: 80px;
  width: 80px;
  margin: auto;
  padding: auto;
}

#sign{
  font-size: .7em;
  position: absolute;
  top: 25px;
  left: 5px;
  margin-left: 30px;
  animation: fade-in ease-out 3s;
}
@keyframes fade-in{
  0%{
    opacity: 0;
    transform: scale(0.2);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
#heading{
  animation: slide-down ease-out 1.5s;
}
@keyframes slide-down {
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}
#main{
  color: rgb(44, 43, 43)
}
.small{
  font-size: 1.2rem;
  font-weight: lighter;
  position: relative;
  bottom: 0.8rem;
}

.row{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
p{
  padding: 3px;
  margin: 3px;
}
.name{
  margin: 5px;
}

.smallfont{
  font-size: .9em;
}

.clear{
  cursor: pointer;
  font-size: 1em;
  color: grey;
  padding: 10px;
  margin: 10px;
  background-color: rgba(180, 172, 172, 0.0);
  float: right;
  border: 1px solid grey;
  border-radius: 15px;
  animation: slide-up ease 1.5s;
}

@keyframes slide-up{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0%);
  }
}
.clear:hover{
  color: black;
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}